html{
  --primarySiteColor: rgb(240, 191, 250);
  --darkPrimarySiteColor: rgb(220, 142, 236);
  --secondarySiteColor: rgb(206, 42, 239);
  --lightSecondarySiteColor: rgb(158, 73, 243);
  /* --darkSecondarySiteColor: rgb(131, 16, 246); */
  --primaryGrayColor: rgb(171, 171, 171);
  --secondaryGrayColor: rgb(108, 108, 108);
  --shadowGrayColor: rgba(192, 192, 192, 0.827);
  --darkShadowGrayColor: rgba(104, 104, 104, 0.827);
  --lightBlackColor: rgb(43, 43, 43);
}

html, body{
  height: 100%;
  margin: 0;
  overflow: auto;
  font-family: 'Roboto', 'Helvetica Neue',Helvetica, Arial, sans-serif;
}

textarea,
input,
button{
  font-family: 'Roboto', 'Helvetica Neue',Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.sign-up-pane{
  position: absolute;
  display: none;
  top: 25px;
  z-index: 65;
  height: 0;
}

.sign-up-pane > div{
  display: grid;
  position: fixed;
  grid-template-columns: 180px 80px;
  column-gap: 10px;
  width: 280px;
  height: 40px;
  margin: 0 calc((100% - 280px) / 2);
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px var(--shadowGrayColor);
}

.sign-up-pane > div > input{
  border: 1px solid gray;
  background: whitesmoke;
  color: gray;
  border-radius: 4px;
  padding: 2.5px 5px;
  outline: none;
}

.sign-up-pane > div > input:focus{
  background: white;
  color: black;
}

*::selection{
  color: white;
  background: var(--secondarySiteColor);
}

section{
  padding: 0 10px 10px 10px;
}

/* #region Header */
body > header{
  display: grid;
  position: fixed;
  width: calc(100% - 2 * 15px);
  height: 40px;
  top: 0;
  padding: 0px 15px;
  background: white;
  box-shadow: 0px 1.25px 0px 1.5px var(--shadowGrayColor);
  z-index: 55;
  grid-auto-flow: column;
}

body > header .menu-btn{
  border: 1px solid black;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  padding: 2px;
  width: 30px;
  height: 30px;
  background: var(--primaryGrayColor);
}

body > header .menu-btn:hover{
  background: var(--secondaryGrayColor);
}

body > header .menu-btn:active{
  padding: 0px;
  width: 26px;
  height: 26px;
  transform: translateY(2px), translateX(2px);
  margin-left: 2px;
  margin-right: 2px;
}

body > header .home-link{
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body > header .home-link > img{
  height: 30px;
  object-fit: scale-down;
  fill: blue;
  padding: 2px;
  border-radius: 50%;
}

body > header .home-link > img:hover{
  background: lightgray;
}

body > header > div:nth-child(2){
  justify-items: flex-end;
}

body > header > div:nth-child(2) > button.cta-btn{
  margin-right: 10px;
}

body > header > div:nth-child(2) > button.cta-btn:active{
  padding: 2.5px;
  margin: 2.5px 12.5px;
}
/* #endregion */

body > div{
  display: flex;
  flex-flow: column;
  height: calc(100% - 40px);
  margin-top: 40px;
  overflow: auto;
}

@media (max-height: 300px){
  body > div{
    height: fit-content;
    min-height: calc(100% - 40px);
  }
}

body > div > div:first-child{
  display: grid;
  grid-template-columns: 50px calc(100% - 50px);
  min-height: calc(100% - 60px - 12px);
}

/* #region Navigation bar */
body > div > div:first-child > nav{
  position: static;
  background: white;
  box-shadow: 1.25px 0px 1.5px 0px var(--shadowGrayColor);
  min-height: calc(100% - 60px - 12px);
  z-index: 40;
  overflow: auto;
}

body > div > div:first-child > nav.max{
  width: max-content;
}

body > div > div:first-child > nav > ul{
  padding: 5px 0px;
  margin: 0;
  height: calc(100% - 2 * 5px);
  list-style: none;
  list-style-type: none;
}

body > div > div:first-child > nav > ul > li.cta-nav-btn,
body > div > div:first-child > nav > ul > li.close-nav-btn{
  display: none;
}

body > div > div:first-child > nav > ul > li.close-nav-btn{
  padding: 0 15px;
}
body > div > div:first-child > nav > ul > li.close-nav-btn > button{
  padding: 2px;
  height: 30px;
  width: 30px;
  border: 1px solid lightgray;
  border-radius: 50%;
  fill: red;
  cursor: pointer;
  outline: none;
}

body > div > div:first-child > nav > ul > li.close-nav-btn > button:active{
  padding: 0px;
  width: 26px;
  height: 26px;
  transform: translateY(2px), translateX(2px);
  transform-origin: center center;
  margin: 2px;
}

body > div > div:first-child > nav > ul > li.cta-nav-btn{
  height: 45px;
}

.cta-btn{
  cursor: pointer;
  color: black;
  height: fit-content;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  background: var(--primarySiteColor);
  border-radius: 4px;
  border: none;
  outline: none;
}

.cta-btn.alt{
  background: var(--secondarySiteColor);
}
.cta-btn:hover{
  background: var(--secondarySiteColor);
  color: white;
}

.cta-btn:active{
  padding: 2.5px;
  margin: 2.5px;
}

body > div > div:first-child > nav > ul > li.close-nav-btn > button:hover{
  background: pink;
}

body > div > div:first-child > nav > ul > li.search-nav-item{
  display: none;
  grid-template-columns: 30px calc(100% - 30px - 5px - 10px);
  column-gap: 10px;
  align-items: center;
  justify-items: center;
  height: 45px;
  padding: 0 10px;
}

body > div > div:first-child > nav > ul > li.search-nav-item > svg{
  cursor: pointer;
  border-radius: 50%;
  padding: 2px;
}
body > div > div:first-child > nav > ul > li.search-nav-item > svg:hover{
  background: lightgray;
}

body > div > div:first-child > nav.max > ul > li.search-nav-item{
  display: grid;
}

body > div > div:first-child > nav.max > ul > li.search-nav-item > input{
  width: 100%;
  max-width: 100%;
}

body > div > div:first-child > nav > ul > li > a{
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
  height: 45px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

body > div > div:first-child > nav > ul > li > a.selected{
  background: var(--secondarySiteColor);
}

body > div > div:first-child > nav > ul > li > a > svg{
  width: 30px;
  height: 30px;
}

body > div > div:first-child > nav.max > ul > li > a{
  justify-content: flex-start;
}

body > div > div:first-child > nav.min > ul > li > a > span{
  display: none;
}

body > div > div:first-child > nav.min > ul > li > a:hover > span{
  position: absolute;
  display: block;
  left: 55px;
  margin-top: 11.25px;
  font-size: 14px;
  border-radius: 2.5px;
  padding: 2.5px;
  background: var(--lightSecondarySiteColor);
  color: white;
  box-shadow: 0 0px 2.5px 2.5px var(--shadowGrayColor);

}
body > div > div:first-child > nav > ul > li > a.deselected:hover{
  background: var(--primarySiteColor);
}
/* #endregion */

@media (max-width: 400px) {
  body > header .home-link > span,
  body > header > div:nth-child(2) > button.cta-btn{
    display: none;
  }

  body > div > div:first-child{
    grid-template-columns: 100%;
  }

  body > div > div:first-child > nav{
    position: fixed;
    top: 0;
    z-index: 41;
    width: 100%;
    box-shadow: none;
  }

  body > div > div:first-child > nav.min{
    display: none;
  }

  body > div > div:first-child > nav.max{
    width: 100%;
  }

  body > div > div:first-child > nav > ul > li.close-nav-btn{
    display: flex;
  }
  body > div > div:first-child > nav > ul > li.cta-nav-btn{
    display: flex;
  }

}

.scroll-view{
  position: relative;
  overflow: hidden;
}

/* #region Footer */
body > div > hr{
  position: relative;
  width: calc(100% - 50px);
  min-height: 2px;
  border: none;
  background: lightgrey;
  margin: 0px 25px 10px 25px;
}

body > div > footer{
  position: relative;
  display: grid;
  grid-auto-flow: row;
  width: 100%;
  min-height: 60px;
}

body > div > footer > div:first-child > a {
  margin: 0 5px;
  text-decoration: none;
  border-bottom: 2px solid var(--lightSecondarySiteColor);
  color: var(--lightSecondarySiteColor);
  outline: none;
}

body > div > footer > div:first-child > a:hover{
  color: var(--secondarySiteColor);
}

@media (max-width: 250px) {
  body > div > footer > div:first-child{
    flex-flow: column;
  }
}

/* #endregion */

/* #region Loading Icon */
.loading-icon{
  stroke: var(--primarySiteColor);
  fill: none;
  stroke-width: 1px;
  stroke-linecap: round;
  zoom: 1.5;
}

.loading-icon > path.inner_arc,
.loading-icon > path.outer_arc{
  transform-origin: center center;
  animation-name: arc-anim;
  animation-timing-function: linear;
  animation-play-state: running;
  animation-iteration-count: infinite;
}

.loading-icon > path.inner_arc{
  transform: rotate(20deg);
  animation-duration: 1.6s;
}

.loading-icon > path.outer_arc{
  transform: rotate(60deg);
  animation-duration: 3s;
}

@keyframes arc-anim{
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}
/* #endregion */

/* #region Snackbar */
.snack-bar{
  position: fixed;
  display: none;
  z-index: 56;
  bottom: 80px;
  left: 60px;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  color: lavender;
  background: var(--lightBlackColor);
  border-radius: 3px;
  box-shadow: 0px 0px 2px 2px var(--darkShadowGrayColor);
  user-select: none;
  cursor: pointer;
  animation-name: snack-bar-anim;
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-duration: 450ms;
}

.snack-bar.open{
  display: block;
  animation-play-state: running;
  animation-iteration-count: 1;
}

@keyframes snack-bar-anim{
  from{
    transform: translateX(-100%);
  } to{
    transform: translateX(0%);
  }
}

/* #endregion */

/* #region Other elements */
.txt-input{
  border: 1px solid gray;
  background: whitesmoke;
  color: gray;
  border-radius: 4px;
  padding: 2.5px 5px;
  outline: none;
  resize: none;
}

.txt-input:focus{
  background: white;
  color: black;
  box-shadow: 0 0 0.8px 0.8px var(--darkShadowGrayColor), 0 0 1.6px 1.6px var(--shadowGrayColor);
}

button.default{
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  padding: 4px;
  height: 34px;
  min-width: 34px;
  outline: none;
  background: lightgray;
  border: 1px solid gray;
  cursor: pointer;
}

button.default.round{
  width: 34px;
}

button.default.round{
  background: lightgray;
  border-radius: 50%;
  border: 1px solid gray;
}

button.default.round:hover,
button.default:hover{
  background: whitesmoke;
}

button.default.round:active,
button.default:active{
  background: radial-gradient(lightgray, gray);
}

b.h2{
  font-size: 22px;
}
a.default{
  display: inline-block;
  border-radius: 15px;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  padding: 2.5px 10px;
  border: 1px solid;
}

a.default.round{
  border-radius: 50%;
  padding: 2.5px;
  width: 25px;
  height: 25px;
}

a.default.round > svg{
  width: 24px;
  height: 24px;
  padding: 0.5px;
  object-fit: scale-down;
  background: white;
  border-radius: 50%;
}

a.default.dark-bg{
  color: white;
  border-color: var(--secondarySiteColor);
  background: var(--secondarySiteColor);
}

a.default.light-bg{
  color: black;
  border-color: var(--secondarySiteColor);
  background: var(--primarySiteColor);
}

a.default.light-bg:hover{
  background: var(--darkPrimarySiteColor);
}

a.default:hover{
  opacity: 0.8;
}

a.default:active{
  padding: 1.25px 5px;
  margin: 1.25px 5px;
}

a.default.round:active{
  padding: 1.25px;
  margin: 1.25px 1.25px;
}

.checkbox{
  cursor: pointer;
}

.checkbox.checked > svg:last-child,
.checkbox.unchecked > svg:first-child{
  display: none;
}

.headline{
  text-align: center;
}

.checkbox.unchecked.error{
  fill: red;
}

a.old{
  text-decoration-color: var(--lightSecondarySiteColor);
  color: var(--lightSecondarySiteColor);
  outline: none;
  cursor: pointer;
}

a.old:hover{
  color: var(--secondarySiteColor);
}

/* #endregion */
